html {
  --font-color: #666;

  --rgb-for-main-color: 244, 54, 61;
  --main-color: rgb(var(--rgb-for-main-color));
  --main-color-soft: rgba(var(--rgb-for-main-color), 0.3);

  --side-column-width: 11rem;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Nunito Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
  user-select: none;
}

.container {
  box-sizing: border-box;
  border-top: 0.4rem solid var(--main-color);
  padding: 2rem 1rem;
}

p {
  margin-top: 0;
}

strong {
  font-weight: 700;
}

address {
  font-style: normal;
  margin-top: 2rem;
  font-size: 0.9rem;
  text-align: right;
  padding-top: 1rem;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

address > * {
  display: block;
}

address .plain-list strong {
  color: var(--main-color);
  font-weight: 600;
}

address a:link,
address a:visited {
  text-decoration: none;
  color: inherit;
  transition: color 200ms;
}

address a:hover {
  color: #111;
}

.title-main {
  font-size: 4rem;
  line-height: 1em;
  color: var(--font-color);
  font-weight: 100;
  margin: 0 0 0.5rem;
}

.title-section {
  color: var(--main-color);
  font-size: 1.2rem;
  margin-top: 1.3rem;
  margin-bottom: 0;
}

.title-inner-section {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 600;
}

.title-inner-section--inline {
  display: inline;
}

.plain-list {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.plain-list strong {
  font-weight: 400;
}

.plain-list--inline {
  display: inline;
}

.plain-list--inline li {
  display: inline;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.skills-list li::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 2px;
  margin-bottom: 12px;
  background: linear-gradient(to right, var(--main-color-soft) 0%, var(--main-color-soft) 100%);
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
}

.skills-list li:hover::after {
  opacity: 1;
}

.skills-list li[title='Learning']::after,
.skills-list li[title='Some Knowledge']::after {
  background: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--main-color) 25%,
    var(--main-color-soft) 25%,
    var(--main-color-soft) 100%
  );
}

.skills-list li[title='Moderate Knowledge']::after {
  background: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--main-color) 50%,
    var(--main-color-soft) 50%,
    var(--main-color-soft) 100%
  );
}

.skills-list li[title='Strong Knowledge']::after,
.skills-list li[title='Professional Working Proficiency']::after {
  background: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--main-color) 75%,
    var(--main-color-soft) 75%,
    var(--main-color-soft) 100%
  );
}

.skills-list li[title='Experienced']::after,
.skills-list li[title='Native']::after {
  background: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--main-color) 100%,
    var(--main-color-soft) 100%,
    var(--main-color-soft) 100%
  );
}

.dates,
.level {
  color: var(--main-color);
  font-size: 0.8rem;
}

header img {
  display: none;
}

header .title-section {
  margin-top: -0.3rem;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}

header span {
  display: block;
  margin-top: -0.1rem;
  font-size: 1.3rem;
}

aside {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px dashed #ccc;
  font-size: 0.8rem;
}

aside .title-section {
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.see-more {
  display: none;
}

@media (min-width: 550px), print {
  html,
  body {
    font-size: 16px;
  }

  .container {
    padding: 2rem 1.5rem;
  }

  .title-main {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
  }

  header .title-section {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0rem;
  }

  header span {
    font-size: 1rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr var(--side-column-width);
  }

  header section {
    flex-grow: 1;
  }

  address {
    border: unset;
    margin-top: 0;
    padding-top: 0;
  }

  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px), print {
  .container {
    padding: 2rem 2.5rem;
  }

  header img {
    display: initial;
    float: left;
    margin-right: 1rem;
    width: 5.2rem;
    border-radius: 2.6rem;
    filter: grayscale(1);
  }

  .skills-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px), print {
  html,
  body {
    background-color: #525659;
  }

  .container {
    padding: 3.5rem 2.5rem;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr var(--side-column-width);
    grid-template-areas:
      'header header'
      'main aside';
    column-gap: 3rem;
    background-color: #fff;
    box-shadow: 0px 0px 3px 4px rgba(77, 77, 77, 1);
  }

  header {
    grid-area: header;
  }

  address {
    text-align: left;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
    display: block;
    border-top: unset;
    padding-top: 0;
    margin-top: 1.7rem;
    font-size: 0.9rem;

    .skills-list {
      grid-template-columns: 1fr;
    }
  }

  aside section:first-child .title-section {
    margin-top: 0;
  }
}

@media (min-width: 1115px), print {
  .container {
    padding: 3.5rem 4rem;
    margin: 10px auto;
  }
}

@media screen and (max-width: 800px) {
  header section {
    opacity: 0;
    animation: slideFromLeft 1.5s cubic-bezier(0.08, 0.96, 0.36, 0.99) normal forwards;
  }

  header address {
    opacity: 0;
    animation: slideFromRight 1.5s cubic-bezier(0.08, 0.96, 0.36, 0.99) normal forwards;
  }

  section#profile {
    opacity: 0;
    animation: slideFromLeft 1.5s cubic-bezier(0.08, 0.96, 0.36, 0.99) 0.3s 1 normal forwards;
  }

  section#experience {
    opacity: 0;
    animation: slideFromLeft 1.5s cubic-bezier(0.08, 0.96, 0.36, 0.99) 0.6s 1 normal forwards;
  }

  section#education {
    opacity: 0;
    animation: slideFromLeft 1.5s cubic-bezier(0.08, 0.96, 0.36, 0.99) 0.9s 1 normal forwards;
  }

  section#other-studies {
    opacity: 0;
    animation: slideFromLeft 1.5s cubic-bezier(0.08, 0.96, 0.36, 0.99) 1.2s 1 normal forwards;
  }

  aside#languages-and-tools {
    opacity: 0;
    animation: slideFromLeft 1.5s cubic-bezier(0.08, 0.96, 0.36, 0.99) 1.5s 1 normal forwards;
  }
}

@media print {
  body {
    background-color: #fff;
  }

  .container {
    margin: 0 auto;
    padding: 2.5rem 1rem;
    box-shadow: unset;
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
